@font-face{
    font-family:P-Light;
    src: url('https://eshsrtiranga.github.io/fonts/Poppins-Light.woff') format('woff');
    font-size: clamp(min 4, max 20);
  }
  
  *{
    color: #351005;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  :root{
    --brown: #017dc5;
    --darkerbrown: #016ba8;
    --scrollbarthumbcolour: rgb(164, 164, 164);
  }
  ::-webkit-scrollbar{
    width: 0px;
    /* background-color: rgb(255, 237, 215); */
  }
  html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body{
    background: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    font-family: P-Light;
  }
  
  
  
  
  @keyframes hanimation {
    from {
      opacity: 0;
      transform: translatey(5px);
    }
  
    to {
      opacity: 1;
      transform: translatey(0px);
    }
  }
  @keyframes h3animation{
    from{
      opacity: 0;
      /* transform: translateY(-10px); */
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* #region main heading */
  #navbar{
    width: 100vw;
    font-size: 20px;
    position: sticky;
  display: flex;
  align-items: flex-end;
  }
  #navbarcontent ul {
    text-decoration: none;
  list-style: none;
  font-family: P-Light,Verdana, Geneva, Tahoma, sans-serif;
  }
  #navbar content ul a{
    text-decoration: none;
  }
  .header{
      font-family: P-Light;
      height: 100%;
      width: 100vw;
      background-image: linear-gradient(rgba(4, 9, 10, 0.5), rgba(4, 9, 10, 0.5)) , url("homepage-old2.png");
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: absolute;
  }
  .header .text{
    top: 20%;
    width: 100%;
    height: 50vh;
    text-align: center;
    margin-top: 5vw;
  }
  .header .text h1 {
    color: #ffedd7;
    opacity: 0;
    font-weight: 600;
    font-family: P-Light;
    font-size: 4vw;
    transition: 0.1s;
    text-align: center;
  }
  .header .text h2 {
    color: #ecd8bf;
    opacity: 0;
    font-weight: 600;
    font-family: P-Light;
    font-size: 4vw;
    padding-bottom: 32px;
    transition: 0.1s;
    text-align: center;
  }
  .header .text h3{
      margin-bottom: 1px;
      color: #ecd8bf;
      font-size: 1.6vw;
      padding-bottom: 10px;
      font-weight: 100;
      font-family: P-Light;
      text-align: center;
  }
  .header .text p {
    color: #ecd8bf;
    opacity: 0;
    font-weight: 100;
    font-size: 1.6vw;
  }
  .header .text a {
    font-size: 1.6vw;
    font-family: P-Light;
    transition: 0.4s;
    text-decoration: none;
    color: #ecd8bf;
    border: #ecd8bf solid 1px;
    opacity: 0;
    padding: 9px 20px;
    border-radius: 22px;
  }
  .header .text a:hover {
    background-color: rgb(255, 237, 215);
    color: #ecd8bf;
    transition: 0.4s;
  }
  .header img{
      width: 100%;
      height: auto;
      padding: 1px;
      animation: h3animation 1000ms;
  }
  @media (max-width: 850px){
    .header{
      background-size: cover;
    }
    .header .text{
      
      margin-top: 100px;
      top: 30%;
    }
    .header .text img{
      width: 85px;
    }
    .header .text h1{
  
      /* padding-bottom: 22px; */
      font-size: 28px;
    }
    .header .text h3{
      font-weight: 900;
      font-size: 25px;
    }
    .header .text a{
      font-size: 10px;
    }
    .container{
      margin-top: -80px;
    }
    .container .time-text h1{
      font-size: 40px;
    }
    .container a{
      font-size: 30px;
    }
    
  }
  
  
  .litfest{
    height: 48vw;
    width: 100%;
    font-family: P-Light;
    background-color: #e7e1d9;
    display: flex;
    position: absolute;
    top: 100vh;
    background:url("/Resources/Images/We_are_currently_making_some_improvements_to_our_website.png");
    background-size: 100%;
  }
  
  .gallery{
    margin-top: 1vw;
  }
  
  .textinsecond{
  
    margin-top: 3.4vw;
    margin-left:0%;
    font-size:2.2vw
  }
  .textinsecond h1{
    color: #017dc5;
    font-size: 2.4vw;
    font-weight: 900;
    font-family: P-Light;
  }
  .textinsecond p{
    color: black;
    font-size: 1.7vw;
    padding-right: 100px;
    line-height: 2.4vw;
    font-weight: 100;
    padding-bottom: 5vw;
  }
  .textinsecond a{
    font-size: 1.7vw;
    color: #361106;
    border: #361106 solid 1px;
    padding: 9px 20px;
    border-radius: 22px;
    text-decoration: none;
    transition: .4s;
  }
  .textinsecond a:hover{
    background-color: #361106;
    transition: .4s;
    color: rgb(255, 237, 215);
  }
  
  .litfest .textinsecond{
    padding-top: 5%;
    padding-left: 10%;
  }
  .textinsecond .line{
    width: 3vw;
    height: 1px;
    margin: 3.7vw 0;
    background-color: #361106;
  }
  
  @media (max-width: 800px){
    .litfest{
      flex-direction: column;
      height: 50vh;
    }
    .litfest .textinsecond{
      padding: 0;
    }
  
    .litfest .textinsecond h2{
      align-items: center;
      font-size: 15px;
      margin: 1vw;
      text-align: center;
    }
  
    .litfest .textinsecond h1{
      font-size: 25px;
      padding-top: 30px;
      text-align: center;
      margin: auto;
      color: #017dc5;
    }
    .litfest .textinsecond p{
      font-size: 15px;
      text-align: center;
      line-height: 20px;
      /* margin: auto; */
      padding: 0 30px;
    }
    .litfest .textinsecond a{
      padding: 0;
      font-size: 0;
      opacity: 0;
    }
    .litfest .textinsecond .line{
      margin: 5% auto;
      height: .6px;
      width: 40px;
    }
    .litfest .countdown{
      padding: 0;
      margin: 20px auto;
    }
    .litfest .countdown h2{
      font-size: 20px;
      width: 76%;
      margin-top: 10px;
      margin-left: 5px;
    }
    .litfest .countdown .wrappper .timer{
      width: 112px;
      height: 100px;
      /* margin-top: 30px; */
      margin: 30px 15px;
    }
    .wrappper .timer h4{
      font-size: 20px;
    }
    .wrappper .timer h3{
      font-size: 59px;
    }
  }
  
  
  
  .tiranga{
    margin-top: 199vh;
  }
  .tiranga .textindiv{
    padding-top:2vw;
    width: 100%;
    text-align: center;
    font-family: P-Light;
    margin: 2.4vw auto 0;
  }
  .tiranga .textindiv h3{
    color: #361106;
    font-size: 2.4vw;
  }
  .tiranga .textindiv p{
    color: #361106;
    font-size: 1.6vw;
    
  }
  .slider{
    pointer-events: none;
    width: 100%;
    height: 75vh;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.295);
    margin: 50px auto 40px auto;
    border-radius: 10px;
  }
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 20%;
    transition: 2s;
  }
  .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  .logbtn{
    width: 7.86667rem;
    height: 2.66667rem;
    border-radius: .13333rem;
    text-align: center;
    line-height: .64rem;
    font-family: Inter;
    background-color: #005a9c;
    color: #fff;;
    font-size: 1.29333rem;
    font-weight: 400;
    margin: 10px;
    border: .01333rem solid var(--main-color);
  }
  .manual-btn{
    border: 2px solid rgba(0,0,0,0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: rgba(0,0,0,0);
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  #radio5:checked ~ .first{
    margin-left: -80%;
  }
  
  #radio6:checked ~ .first{
    margin-left: -100%;
  
  }#radio7:checked ~ .first{
    margin-left: -120%;
  
  }#radio8:checked ~ .first{
    margin-left: -140%;
  
  }#radio9:checked ~ .first{
    margin-left: -160%;
  
  }#radio10:checked ~ .first{
    margin-left: -180%;
  
  }#radio11:checked ~ .first{
    margin-left: -200%;
  
  }#radio12:checked ~ .first{
    margin-left: -220%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid rgba(0,0,0,0);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgba(0,0,0,0);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgba(0,0,0,0);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgba(0,0,0,0);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgba(0,0,0,0);
  }
        
  @media (max-width: 850px){
    .tiranga{
      margin-top: 150vh;
    }
    .tiranga .textindiv h3{
      padding-top: 30px;
      font-size: 25px;
    }
    .tiranga .textindiv p{
      font-size: 15px;
    }
    body{
      overflow-x: hidden;
    }
    .slider{
      width: 80%;
      height: 30vh;
      border-radius: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.295);
      margin: 40px auto;
      border-radius: 10px;
      overflow: hidden;
    }
    .slides{
      width: 500%;
      height: 100%;
      display: flex;
    }
    .slides input{
      display: none;
    }
    .slide{
      width: 20%;
      transition: 2s;
    }
    .slide img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  /* #endregion */
  
  /* #region newevents */
  .about {
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
    font-family: P-Light;
  }
  .textdown h1{
    font-size: 45px;
    color: #361106;
  }
  
  .textdown p{
    font-size: 25px;
    font-weight: 250;
    line-height: 32px;
    color: #361106;
    padding: 15px;
  }
  
  .row {
    height: 500px;
    width: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .col{
    box-shadow: 0 0 10px #5e5e5e8f;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .col img{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .viewevent{
    text-align: center;
    text-decoration: none;
    color:#361106;
    border: .1vw solid #361106;
    margin-top: 10vw;
    height: 10vw;
    width: 20vw;
    padding:1vw;
    background-color: white;
    font: 600;
    font-size: 2vw;
    font-family: P-Light;
    text-decoration: none;
    border-radius: 5vw;
    transition: all .4s;
    
  }
  
  .viewevent:hover{
    background-color: #361106;
    color:white;
    
  }
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  
  .layer:hover{
    background: rgba(4, 9, 10, 0.5);
  }
  
  .layer h3{
    width: 100%;
    font-weight: 500;
    color: rgb(255, 237, 215);
    font-size: 26px;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    padding-bottom: 10px;
  }
  
  .layer:nth-child(2) h3{
    padding-bottom: -1000px;
  }
  
  .layer p{
    width: 100%;
    opacity: 0;
    font-weight: 400;
    color: rgb(255, 237, 215);
    font-size: 16px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    font-size: 18px;
    padding: 0 20px ;
  }
  
  .layer:hover h3{
    opacity: 1;
    bottom: 65%;
    font-size: 45px;
  }
  
  .layer:hover p{
    opacity: 1;
    bottom: 21%;
  }
  @media (max-width: 800px){
    .about{
      margin-top: -30px;
    }
    .row{
      flex-direction: column;
    }
    .textdown h1{
      font-size: 25px;
      color: #361106;
    }
    .textdown p{
      font-size: 15px;
      font-weight: 250;
      line-height: 19px;
      color: #361106;
      padding: 15px;
    }
    .layer:hover h3{
      font-size: 25px;
    }
    .layer:hover p{
      font-size: 15px;
      bottom: 12%;
    }
  }
  /* #endregion */
  
  /* #region login */
  .loginforregistrations{
    font-family: P-Light;
    width: 85.2%;
    margin: 10px auto;
    background-image: linear-gradient(rgba(4, 9, 10, 0.5), rgba(4, 9, 10, 0.5)) , url("https://eshsrtiranga.github.io/Resources/Images/homepage-old2.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 30px #0000008f;
    padding: 100px 0;
  }
  .loginforregistrations h1{
    font-size: 52px;
    color: rgb(255, 237, 215);
    margin-bottom: 40px;
  }
  .loginforregistrations a{
    font-size: 18px;
    transition: 0.4s;
    text-decoration: none;
    color: rgb(255, 237, 215);
    border: rgb(255, 237, 215) solid 1px;
    padding: 9px 20px;
    border-radius: 22px;
    margin: 20px;
  }
  .loginforregistrations a:hover{
    background-color: rgb(255, 237, 215);
    color: #361106;
    transition: .4s;
  }
  
  @media (max-width: 800px){
    .loginforregistrations{
      height: 2vw;
      text-align: center;
      background-position: center;
      background-size: cover;
    }
    .loginforregistrations h1{
      font-size: 25px;
      padding: 0;
    }
    .loginforregistrations a{
      float:center;
      font-size: 1.2vw;
      
    }
  
    .launchtimer{
      float:right;
    }
  }
  
